/* header.module.css */
.header {
  background-color: #ebeeff;
  font-size: 13px;
  color: black;
  display: flex;
  padding: 10px 50px 10px 10px;
  font-weight: 400;
  line-height: 40px;
  position: fixed;
  position: -webkit-sticky;
  top: 0%;
  z-index: 1000;
  width: 100%;
}

.infoItem {
  margin-right: 2px;
  padding-right: 10px;
  align-items: center;
}

.icon {
  margin-right: 6px;
}

/* @media (max-width: 360px){
  .header {
  font-size: .7rem !important;
  display: flex;
  flex-direction: column !important;
  padding: .5rem !important;
  flex-wrap: wrap;
  gap: .2rem;
  z-index: 2;
   
  }

  .infoItem {
    flex: 1;
    margin-right: 6px;
    padding-right: 0;
  }

  .infoItem:last-child {
    margin-right: 0;
  }
} */

@media (max-width: 970px) {
  .header {
    .header {
      font-size: 10px;
      z-index: 1;
      margin-bottom: 0px;
      padding: 2px 5px; 
     

    }

    .infoItem {
      padding-right: 6px;
      margin-right: 2px;
    }
  }
}

@media (max-width: 954px) {
  .header {
    font-size: 10px;
    margin-bottom: 0%;
    padding: 1px 3px;
  }

  .infoItem{
    padding-right: 3px;
    margin-right: 0px;
  }

 
}


  @media (max-width: 704px) {
    .header {
      flex-direction: column;
      padding: 5px 20px; /* Adjust padding for smaller screens */
      
    }
  
    .infoItem {
      padding: 5px 0; /* Stack items vertically */
    }
  }






