.container {
    display: block;
    max-width: 600px;
    font-style: normal;
    margin: 50px;
    padding: 16px;
    font-size: 14px;
   font-weight: 400;
    border: 0px solid #ddd;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: #fff;
  }
  
  .content {
    flex: 10;
    padding-right: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  
  .content p {
    margin: 0 0 13.5px;
    color: #707070;;
    line-height: 1.8;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }
  
  .content p:last-child {
    margin-bottom: 0;
  }
  .title {
    font-size: 14px;
    font-weight: 400;
  }

  .image1 {
    width: 40%;
    height: auto;
    position: absolute;
    margin-left: 620px;
    border: 0;
    vertical-align: top;
    
  }

  /* For screens smaller than 360px */
@media (max-width: 360px) {
  .container {
    width: 100%;
    padding:5px;
    margin: 250px;
    margin-left: 5px;
    margin-bottom: auto;
  }

  .content {
    margin: 0; 
    padding: 0; 
  }

  .content h1 {
    font-size: 1.2rem;
  }

  .content p {
    font-size: 1rem; 
    line-height: 1.6; 
  }

  .image1 {
    width: 100%;
    height: auto; 
    margin: 0; 
    padding: 0;
    width: 100%;
  }
}
  