.title {
  font-size: 28px;
  font-weight: 600;
  padding: 26px;
  position: relative;
  line-height: 32px;
  margin-top: 50px;
}
.description {
  font-size: 25px;
  font-weight: 600;
  padding: 26px;
  text-align: center;
}

.hero {
  background: linear-gradient(135deg, #43e794, #23bdb8);
  height: 100%;
  margin: 0;
  padding: 0;
}
