.container {
  display: block;
  max-width: 600px;
  font-style: normal;
  margin: 100px;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  border: 0px solid #ddd;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
}

.content {
  flex: 10;
  padding-right: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.content p {
  margin: 0 0 13.5px;
  color: #707070;
  line-height: 1.8;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-right: 100px;
}

.content p:last-child {
  margin-bottom: 0;
}
.title {
  font-size: 20px;
  font-weight: 600;
}

.image1 {
  width: 50%;
  height: auto;
  position: absolute;
  margin-left: 620px;
}

.image2 {
  width: 45%;
  height: auto;
  position: absolute;
  padding: 10px;
  /* margin-right: 400px; */
}

.content1 {
  flex: 2;
  padding-right: 5px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-left: 600px;
}

.container1 {
  display: block;
  font-style: normal;
  margin: 50px;
  margin-bottom: 20px;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  border: 0px solid #ddd;
  border-radius: 8px;
}

/* For screens smaller than 360px */
@media (max-width: 360px) {
  .container,
  .container1 {
    width: 100%;
    padding: 5px;
    margin: 310px;
    margin-left: 5px;
    margin-bottom: auto;
  }

  .content,
  .content1 {
    margin: 0;
    padding: 0;
  }

  .content h1,
  .content1 h1 {
    font-size: 1.2rem;
  }

  .content p,
  .content1 p {
    font-size: 0.85rem;
    line-height: 1.6;
  }

  .image1,
  .image2 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
