.flexContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 100px;
}

.textImagePair {
  margin-top: 200px;
  display: flex;
  line-height: 1.8;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.textContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  max-width: 250%;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.readMoreButton {
  background-color: #20c997;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 1.8rem;
  font-size: 1rem;
  width: auto;
  max-width: 150px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-bottom: 2px;
}

.readMoreButton:hover {
  background-color: #198754;
}

/* .container {
  position: relative;
  width: 180vh;
  background-color: red;
} */

/* .imageContainer {
  position: relative;
} */

.images {
  /* width: 180vw; */
  /* height: 100vh; */
  display: block;
  margin-left: 300px;
  width: 240vw;
  position: relative;
  margin-top: 50px;
  
}

.card {
  position: relative;
  margin-left: 300px;
  left: 70%;
  
  transform: translate(-98%, -98%);
  background: rgba(255, 255, 255, 0.7);
  padding: 0.8rem;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  max-width: 200%;
  color: #333;
  text-align: center;
  
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.container {
  display: block;
  max-width: 600px;
  font-style: normal;
  margin: 100px;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  border: 0px solid #ddd;
  border-radius: 8px;
  margin-top: 30px;
  background-color: #fff;
}

.content {
  flex: 10;
  padding-right: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.content p {
  margin: 0 0 13.5px;
  color: #707070;
  line-height: 1.5;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-right: 100px;
  font-size: 1.2rem;
}

.content p:last-child {
  margin-bottom: 0;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.content2 {
  flex: 1;
  unicode-bidi: isolate;
  margin-left: 600px;
}

.container2 {
  display: block;
  font-style: normal;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  border: 0px solid #ddd;
  border-radius: 8px;
}

.container2 p {
  position: relative;
  margin-top: -400px;
  font-size: 1.2rem;
  color: #707070;
}
.container2 h2 {
  color: black;
  position: absolute;
  margin-top: -40px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.image3 {
  width: 40%;
  height: auto;
  position: absolute;
  margin-right: 620px;
  margin-top: -380px;
}

.image4 {
  width: 40%;
  height: auto;
  position: absolute;
  margin-left: 620px;
  margin-top: 10px;
}
/* For screens smaller than 360px */
@media (max-width: 360px) {
  .container,
  .container1 {
    width: 100%;
    padding: 5px;
    margin: 310px;
    margin-left: 5px;
    margin-bottom: auto;
  }

  .content,
  .content1 {
    margin: 0;
    padding: 0;
  }

  .content h1,
  .content1 h1 {
    font-size: 1.2rem;
  }

  .content p,
  .content1 p {
    font-size: 0.85rem;
    line-height: 1.6;
  }

  .image1,
  .image2 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
