.container1 {
  /* display: flex; */
  position: relative;
  width: 510px;
  font-style: normal;
  padding: 2px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.content p {
  color: #707070;
  line-height: 1.8;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-left: 600px;
  width: 100%;
  margin-top: -300px;
  padding: 0%;
  gap: 0;
}

.title1 {
  font-size: 18px;
  font-weight: 600;
  padding: 26px;
  position: relative;
  line-height: 32px;
  margin-top: 50px;
}

.content p:last-child {
  margin-bottom: 0;
}

.content4 {
  flex: 10;
  padding-right: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-left: 550px;
}

.container2 {
  display: block;
  max-width: 580px;
  font-style: normal;
  margin: 50px;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  border: 0px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.image5 {
  width: 50%;
  height: auto; /* maintains the aspect ratio of the image */
  position: absolute;
  padding: 50px;
  margin-top: 170px;
}

.description {
  font-size: 25px;
  font-weight: 600;
  padding: 26px;
  text-align: center;
}

.customersContainer {
  padding: 10px;
}

.customers img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.wrapper img {
  border-radius: 100px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-radius 0.3s ease, background-color 0.3s ease;

  position: relative;
  z-index: 1;
  padding: 20px;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.wrapper:hover img {
  border-radius: 0;
}

.wrapper:hover::before {
  opacity: 1;
  border-radius: 0;
}

.hero {
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 28px;
  font-weight: 600;
  padding: 26px;
  position: relative;
  line-height: 32px;
  margin-top: 50px;
}
.description {
  font-size: 25px;
  font-weight: 600;
  padding: 26px;
  text-align: center;
}

.hero {
  background: linear-gradient(135deg, #43e794, #23bdb8);
  height: 100%;
  margin: 0;
  padding: 0;
}

/* For screens smaller than 360px */
@media (max-width: 360px) {
  .container2 {
    width: 100%;
    padding: 5px;
    margin-top: 150px;
    margin-left: 5px;
  }

  .container1 {
    width: 100%;
    padding: 5px;
    margin-top: 250px;
    margin-left: 5px;
  }

  .content1,
  .content4 {
    margin: 0;
    padding: 0;
  }

  .content h1,
  .content4 h1 {
    font-size: 1.2rem;
  }

  .content p,
  .content4 p {
    font-size: 0.75rem;
    line-height: 1.6;
  }

  .image5 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

/* for screens larger than 760px */
