
.faqContainer {
    padding: 20px;
    max-width: 800px;
    margin: 150px;
  }
  
  .card {
    font-size: 17px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 20px;
    background: #f8f8f8;
    
    transition: background-color 0.3s ease;
  }
  
  .card:hover {
    background-color: #f9f9f9;
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .question {
    margin: 3px;
    font-size: 1.0em;
    border: #190a32;
    color: #190a32;
    background: no-repeat;
  }
  
  .icon {
    font-size: 1.2em;
    color: blue;
  }
  
  .answer {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1em;
    color: black;
  }
  