.title {
  font-size: 28px;
  font-weight: 600;
  padding: 26px;
  position: relative;
  line-height: 32px;
  margin-top: 50px;
}
.description {
  font-size: 25px;
  font-weight: 600;
  padding: 26px;
  text-align: center;
}

.customersContainer {
  padding: 10px;
}

.customers img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.wrapper img {
  border-radius: 100px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-radius 0.3s ease, background-color 0.3s ease;

  position: relative;
  z-index: 1;
  padding: 20px;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.wrapper:hover img {
  border-radius: 0;
}

.wrapper:hover::before {
  opacity: 1;
  border-radius: 0;
}

.hero {
  height: 100%;
  margin: 0;
  padding: 0;
}

.img {
  position: relative;
  z-index: 0;
  width: 100%;
  max-height: 400vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .img {
    max-height: 30vh; /* Adjust the height for smaller screens */
  }
}

@media (max-width: 360px) {
  .img {
    max-height: 10vh; /* Adjust the height for even smaller screens */
  }
}
