.title {
  font-size: 28px;
  font-weight: 600;
  padding: 26px;
  position: relative;
  line-height: 32px;
  margin-top: 50px;
}
.description {
  font-size: 25px;
  font-weight: 600;
  padding: 26px;
  text-align: center;
}

.customersContainer {
  padding: 10px;
}

.customers img {
  max-width: 100%;
  height: auto;
  display: block;
  
}

.wrapper {
  position: relative;
  display: inline-block; /* Ensure that the wrapper adjusts to the size of its content */
}

.wrapper img {
  border-radius: 100px; /* Initially round border */
  border: 2px solid #ccc; /* Border around images */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for better visual appeal */
  transition: border-radius 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  position: relative;
  z-index: 1; /* Ensure image is above the gradient */
  padding: 20px;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px; /* Match the initial round border of the image */
  z-index: -1; /* Place behind the image */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.wrapper:hover img {
  border-radius: 0; /* Rectangular border on hover */
  border-color: #20c997; /* Optional: Change border color on hover */
}

.wrapper:hover::before {
  opacity: 1; /* Show gradient background on hover */
  border-radius: 0; /* Match the rectangular border on hover */
}
